<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div id="barre-progression" 
      style="
        background: #00b0f0;
        height: 5px;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
      "
    ></div>
    <YOUR HEADER IMG HERE>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script> 
      window.onload = () => {
        // Ecouteur d'évènement sur scroll
        window.addEventListener("scroll", () => {
          // Calcul de la hauteur "utile" du document
          let hauteur = document.documentElement.scrollHeight - window.innerHeight;

          // Récupération de la position verticale
          let position = window.scrollY;

          // Récupération de la largeur de la fenêtre
          let largeur = document.documentElement.clientWidth;

          // Calcul de la largeur de la barre
          let barre = position / hauteur * largeur;

          // Modification du CSS de la barre
          document.getElementById("barre-progression").style.width = barre+"px";
        })
      }
    </script>
  </body>
</html>
